/* Variables */
$font-headings: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-primary: #0033a0; /* Blue */
$color-secondary: #00d4ff; /* Light blue */
$color-accent: #ff6f61; /* Coral Red */
$color-background: #f0f8ff; /* Alice Blue */
$color-header-bg: #0033a0;
$color-footer-bg: #001d8b;
$color-text: #333333; /* Dark gray */
$color-white: wheat;
$color-shadow: rgba(0, 0, 0, 0.2);

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$border-radius: 12px;
$transition-speed: 0.3s;
