.footer {
    margin-top: auto;
    background-color: rgb(64, 211, 211);
    padding: 1rem;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.footer__text {
    color: #2C2C2C;
    font-weight: bold;
}
